@import url('whitespace-reset.css');

:root {
    --hover: #6df0de;
    --highlight: #d53a84;
    --dark-text: #000;
    --white: #fff;
    --alt-background: #ecf0f1;
}

html {
    font-size: 18px;
    font-family: system-ui;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background-color: var(--highlight);
    border: solid 1px var(--highlight);
    border-radius: 5px;
    color: var(--white);
    font-family: sans-serif;
    padding: 10px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    background-color: var(--hover);
    border-color: var(--hover);
}

.logo {
    background-color: var(--highlight);
    border: solid 1px var(--highlight);
    border-radius: 25px;
    margin: 2%;
    padding: 3px;
    width: 35px;
}


.logo:hover {
    background-color: var(--hover);
    border-color: var(--hover);
}

/*
