<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Bharat Agarwal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
    <div class="logo-links">
        <a href="https://github.com/bharatagarwal" target="_blank">
            <img class="icon" src="{{ "icons/github.svg" | relURL }}" alt="github logo" id="github-logo">
        </a>
        <a href="{{ "bharat-agarwal-2025-v2.pdf" | relURL }}" target="_blank">
            <img class="icon" src="{{ "icons/resume.svg" | relURL }}" alt="link to resume" id="resume-logo">
        </a>
        <a href="http://linkedin.com/in/bharat-agarwal-b7741c91/" target="_blank">
            <img class="icon" src="{{ "icons/linkedin.svg" | relURL }}" alt="LinkedIn link" id="linkedin-logo">
        </a>
        <a href="{{relURL "/blog/"}}" target="_blank">
            <img class="icon" src="{{ "icons/blog.svg" | relURL }}" alt="Blog link" id="blog-logo">
        </a>
    </div>
    <main>
        <section id="intro" class="flexbox horz-center">
            <img id="avatar" src="{{ "images/bharat.png" | relURL }}" alt="photo of Bharat Agarwal">
            <h3 id="name">Hello, I'm Bharat.</h3>
            <p>I'm a software engineer based in India.</p>
            <p>Currently, I'm a Tech Lead at <a href="https://qolaba.ai" class=mothership>Qolaba</a>, and have previously worked at <a class=mothership href="https://www.atlassian.com/blog/atlassian-engineering/cloud-overview">Atlassian</a> and <a class=mothership src="https://shopify.engineering/scale-performance-testing">Shopify.</p>
        </section>
        <section id="mothership" class="flexbox horz-center">
            <div id="mothership-title-container" class="flexbox">
                <a href="https://mothership.live/"><img id="mothership-logo" src="{{ "images/mothership-logo.png" | relURL }}" alt="mothership logo" /></a>
            </div>
            <div id="mothership-info-container" class="flexbox">
                <div>
                    <img id="deploy-command-gif" src="{{ "images/mothership_deploy.gif" | relURL }}" alt="A gif showing the mothership-setup command" />
                </div>
                <div class="flexbox horz-center">
                    <p><a class="mothership" href="https://mothership.live/">Mothership</a> is an open-source platform-as-service for small applications. Designed to be used for deploying internal-facing apps for companies, Mothership is easy to setup. Companies can have their own self-hosted PaaS with a simple <code>mothership-setup</code> command.</p>
                    <p>Once set up, users can use mothership command-line interface to web interface to deploy their apps to the cloud without any need for knowledge of servers or containers.</p>
                    <a id="mothership-repo-btn" class="btn" target="_blank" href="https://mothership.live/case-study">READ THE MOTHERSHIP CASE STUDY</a>
                </div>
            </div>
        </section>
        <section id="contact" class="flexbox horz-center">
            <h3>connect with me</h3>
            <h4><a href="mailto:bharatagarwal@gmail.com">bharatagarwal@gmail.com</a></h4>
            <ul class="flexbox vert-center">
                <li>
                    <a href="{{ "bharat-agarwal-2025-v2.pdf" | relURL }}" target="_blank">
                        <img class="icon" src="{{ "icons/resume.svg" | relURL }}" alt="link for resume">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/bharatagarwal" target="_blank">
                        <img class="icon" src="{{ "icons/github.svg" | relURL }}" alt="link to GitHub profile">
                    </a>
                </li>
                <li>
                    <a href="http://linkedin.com/in/bharat-agarwal-b7741c91/" target="_blank">
                        <img class="icon" src="{{ "icons/linkedin.svg" | relURL }}" alt="link to  LinkedIn profile">
                    </a>
                </li>
                <li>
                    <a href="{{relURL "/blog/"}}" target="_blank">
                        <img class="icon" src="{{ "icons/blog.svg" | relURL }}" alt="Blog link">
                    </a>
                </li>
            </ul>
        </section>
    </main>
</body>

</html>
